:root{
    --side: 35vmin;
}
body{
    background-color: white;
    animation-name: back;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%) rotate(-45deg);
    width: var(--side);
    height: var(--side);
    background-color: rgb(231, 111, 121);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: inherit;
    bottom: 50%;
}
.heart::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    left: 50%;
    border-radius: 50%;
    background-color: inherit;
}
@keyframes back{
    50%{
        background-color: rgb(252, 218, 223);
    }
}
@keyframes beat{
    50%{
        transform: translate(-50%, -43%) scale(0.85) rotate(-45deg);
    }
}